body
{
	
}
h1 
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	font-family: "Verdana";
	font-size: 81px;
	font-weight: bold;
	color:#ccc;
}
h2
{
	font-family: "Times New Roman’, Times, serif";
	font-size: 45px;
	font-weight: bold;
	color:white;
}
.container
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.playscreen
{
	text-align: inherit;
	vertical-align: center;
	margin-left: inherit;
	margin-right: inherit;
	display:none;
	background:#ccc;
	border-radius: 20px;
	height: 200px;
	width:	720px;
}
.red
{
	color:#FE2E2E;
}
.blue
{
	color:#0080FF;
}
.play
{
	background: url('power-button.psd') no-repeat 41% 50%;
	border-style: none;
	height: 120px;
	width:	120px;
}
.play:hover
{
	background: url('power-button.psd') no-repeat 58% 50%;
	border-style: none;
	height: 120px;
	width:	120px;
}
.playclick
{
	background: url('power-button.psd') no-repeat 58% 50%;
	border-style: ;
	height: 120px;
	width:	120px;
}


