body
{
}
.header
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	font-family: "Verdana";
	font-size: 81px;
	font-weight: bold;
	margin-bottom: 20px;
	color:#ccc;
	height: 100px;
	color:white;
	background-color: #A62A2A;
	letter-spacing: 9px;
	width:100%;
}
h1 
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	font-family: "Verdana";
	font-size: 81px;
	font-weight: bold;
	color:#ccc;
}
h2
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	font-family: "Times New Roman’, Times, serif";
	font-size: 45px;
	font-weight: bold;
	color:#369;
}
.container
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.playscreen
{
	text-align: inherit;
	vertical-align: center;
	margin-left: inherit;
	margin-right: inherit;
	display:none;
	height: 400px;
	width: 1200px;
}
#submit
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	color: white;
	background: #009ACD;
	font-family: Gill Sans / Gill Sans MT, sans-serif;';
	border-radius: 45px;
	border-style: solid 10px;
	border-color:#369;
	border-width: 4.5px;
	font-size: 27px;
	height: 100px;
	width: 100px;
	border-radius: 45px;
}
input
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	font-family: "Verdana";
	width:45px;
	height:45px;
	font-size: 27px;
	font-weight: bold;
	color:#369;

}
.red
{
	color:#FE2E2E;
}
.blue
{
	color:#0080FF;
}
.play
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	background: url('power-button.png') no-repeat 41% 50%;
	border-style: none;
	height: 120px;
	width:	120px;
}
.play:hover
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	background: url('power-button.png') no-repeat 58% 50%;
	border-style: none;
	height: 120px;
	width:	120px;
}
.playclick
{
	text-align: inherit;
	margin-left: inherit;
	margin-right: inherit;
	background: url('power-button.png') no-repeat 58% 50%;
	border-style: ;
	height: 120px;
	width:	120px;
}

